#box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: aqua;
    color: red;

}

.box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: aqua;
    color: red;
    
}

